<!-- contact.component.html -->

<section class="contact" id="contact">
    <h2>Contact Me</h2>
    <form class="contact-form" [formGroup]="ContactForm" (ngSubmit)="submitForm()">
        <label for="name">Name:</label>
        <input type="text" formControlName="name">

        <label for="email">Email:</label>
        <input type="email" formControlName="email">

        <label for="message">Message:</label>
        <textarea formControlName="message"></textarea>

        <button type="submit">Send Message</button>
    </form>
</section>