.contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-form {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.conntact-info-wrapper {
  height: auto;
  font-size: 1.1rem;
  font-weight: 900;
  font-family: Georgia, "Times New Roman", Times, serif;
  p:nth-child(4) {
    font-weight: 100;
    font-size: 0.9rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}

/* Füge diese Klasse für die Hervorhebung hinzu */

.highlight {
  color: #3498db;
  font-weight: bold;
  font-size: 1.5rem;
}

label {
  margin-bottom: 8px;
}

input,
textarea {
  padding: 8px;
  margin-bottom: 16px;
}

.invalid-input {
  border: 1px solid red;
}

.icon-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  width: 170px;
}

.contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  width: 200px;
  height: 30px;
}

.icon-container > * {
  filter: brightness(1%);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.icon-container > *:hover {
  filter: none;
  cursor: pointer;
}

.fb {
  background-image: url("../../../assets/images/instagram.svg");
}

.you {
  background-image: url("../../../assets/images/facebook.svg");
}

.twi {
  background-image: url("../../../assets/images/twitter.svg");
}

.pin {
  background-image: url("../../../assets/images/pinterest.svg");
}

.ins {
  background-image: url("../../../assets/images/instagram.svg");
}

@media (max-width: 700px) {
  .contact {
    flex-direction: column;
  }
}
