<div class="card-container">
    <div class="card" *ngFor="let card of cards">
        <img [src]="card.imageUrl" [alt]="card.altText" class="card-img-top">
        <div class="card-body">
            <p class="card-text">{{ card.text1 }}</p>
            <p class="card-text">{{ card.text2 }}</p>
        </div>
    </div>
</div>
<section class="contact" id="contact">
    <div>
        <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="submitForm()">
            <input type="text" placeholder="Name" formControlName="name" [ngClass]="{ 'invalid-input': contactForm.get('name')?.invalid && contactForm.get('name')?.touched }">
            <input type="email" placeholder="Email" formControlName="email" [ngClass]="{ 'invalid-input': contactForm.get('email')?.invalid && contactForm.get('email')?.touched }">
            <textarea placeholder="Message" formControlName="message" [ngClass]="{ 'invalid-input': contactForm.get('message')?.invalid && contactForm.get('message')?.touched }"></textarea>
            <div class="contact-wrapper">
                <button type="submit" [disabled]="contactForm.invalid">Send Message</button>

            </div>
        </form>
    </div>
    <div class="conntact-info-wrapper">
        <span>Let's </span><span class="highlight">talk</span><span> for Something special</span>
        <p>
            I seek to push the limits of creativity<br> to create high-engaging, user-friendly, and<br> memorable interactive experiences.
        </p>
        <p><a href="mailto:Gberi2012@agruni.edu.ge">Gberi2012@agruni.edu.ge</a></p>
        <p>+49 176 60350188</p>
    </div>
</section>