<div class="welcome-wrapper">
    <p class="greeting">Hi, I'm a Fullstack Developer!</p>
    <p class="about-header">About this Portfolio</p>
    <p class="about-description">Welcome to my portfolio! This site showcases my skills and projects. It's crafted with Angular and powered by MongoDB for data storage. The backend is developed using NestJS and hosted on AWS EC2 instances. S3 is used for static files, and the Angular
        front end is also deployed on an EC2 instance.</p>
    <p class="about-footer">Designed and developed by Rain</p>
</div>