<section id="about">
    <h2 class="header">{{getEducations().prefix}} <span>{{getEducations().suffix}}</span></h2>
    <div class="card-container">
        <div class="card" *ngFor="let card of About">
            <img [src]="card.imageUrl" [alt]="card.altText" class="card-img-top">
            <div class="card-body">
                <h1><a [href]="card.website" target="_blank" class="card-text">{{ card.organization }}</a></h1>
                <div>
                    <p class="card-text">{{ card.focusArea }}</p>
                    <p class="card-text">{{ card.additionalInfo1 }}</p>
                    <p class="card-text">{{ card.additionalInfo2 }}</p>
                </div>
            </div>
            <small><i>{{ card.notice }}</i></small>
        </div>
    </div>
</section>