.about {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  img {
    width: 99%;
    height: auto;
    /* Damit das Bild seine Proportionen beibehält */
    border-radius: 4px;
    display: block;
    /* Entfernt die untere Lücke bei Inline-Elementen */
  }
}

.about-text-wrapper {
  max-width: 500px;
  span {
    font-weight: 100;
  }
  p {
    font-size: large;
  }
}
