/* styles.scss oder deine entsprechende SCSS-Datei */

footer {
  padding: 0 2%;
  height: 100px;
  background-color: black;
  color: rgba(245, 245, 245, 0.882);
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  .vector-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 900;
    p {
      margin-left: 10px;
    }
  }
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .footer-content {
    font-size: small;
  }
  .text-wrapper {
    max-width: 150px;
  }
}
