footer {
  padding: 0 1%;
  height: 90px;
  display: flex;
  background-color: black;
  color: rgba(245, 245, 245, 0.8);
  .vector-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 120px;
    p {
      font-weight: 700;
      font-size: 1.2rem;
    }
  }
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
