<header>
    <div class="logo-wrapper">
        <img src="/assets/images/Vector.png" alt="Logo">
        <p>Personal</p>
    </div>

    <div class="nav-links">
        <ng-container *ngFor="let link of navLinks">
            <a routerLink="{{ link.routerLink }}" (click)="scrollToSection(link.section)">{{ link.label }}</a>
        </ng-container>
    </div>

    <button class="action-button">Resume<span class="material-symbols-outlined">download</span></button>

    <div class="burger-menu" [ngClass]="{ 'open': isMenuOpen }">
        <span class="material-symbols-outlined" (click)="toggleMenu()">menu</span>
        <div class="mobile-nav" *ngIf="isMenuOpen">

            <ng-container *ngFor="let link of navLinks">
                <a routerLink="{{ link.routerLink }}" (click)="scrollToSection(link.section)">
                   {{ link.label }}  <span [ngClass]="link.icon">{{link.iconName}}</span>
                
                </a>

            </ng-container>

        </div>
    </div>

</header>