<header>
    <div class="logo-wrapper" routerLink="/">
        <img src="/assets/images/Vector.png" alt="Logo">
        <p>Personal</p>
    </div>
    <div class="nav-links">
        <ng-container *ngFor="let link of navLinks">
            <a routerLink="{{ link.routerLink }}" (click)="scrollToSection(link.section)">{{ link.label }}</a>
        </ng-container>
    </div>
    <div class="lang-cv-wrapper">
        <button class="action-button" (click)="openDownloadFormDialog()">{{resumeText}}<span class="material-symbols-outlined">download</span></button>
        <div class="language-selection" (mouseenter)="openDropdown()" (mouseleave)="closeDropdown()">
            <div class="custom-select">
                <div *ngIf="isDropdownOpen" class="dropdown-options">
                    <div (click)="selectLanguage('en')"><img src="/assets/images/languages/en.svg" alt="UK Flag"></div>
                    <div (click)="selectLanguage('de')"><img src="/assets/images/languages/de.svg" alt="Germany Flag"></div>
                    <div (click)="selectLanguage('ge')"><img src="/assets/images/languages/ka.svg" alt="USA Flag"></div>
                </div>
                <div class="selected-option" (click)="toggleDropdown()">
                    {{ selectedLanguage }}
                </div>
            </div>
        </div>
        <div class="burger-menu" [ngClass]="{ 'open': isMenuOpen }">
            <span class="material-symbols-outlined" (click)="toggleMenu()">menu</span>
            <div class="mobile-nav" *ngIf="isMenuOpen">
                <ng-container *ngFor="let link of navLinks">
                    <a routerLink="{{ link.routerLink }}" (click)="scrollToSection(link.section)">
                   {{ link.label }}  <span [ngClass]="link.icon">{{link.iconName}}</span>
                </a>
                </ng-container>
            </div>
        </div>
    </div>
</header>