.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .close-button {
    margin-right: 5px;
    margin-bottom: 7px;
  }
}

.mat-dialog-content {
  margin-top: 20px;
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    .small-text {
      font-size: 14px;
      color: #666;
      margin-top: 10px;
      text-align: center;
    }
  }
}
