<main>

    <app-header></app-header>
    <app-welcome></app-welcome>
    <app-experience></app-experience>
    <app-skills></app-skills>
    <app-my-projects></app-my-projects>
    <app-about></app-about>
    <app-footer></app-footer>

</main>
<button mat-fab color="primary" class="larger-icon-button fixed-bottom-right" (click)="openContactFormDialog()" aria-label="Kontaktformular öffnen">
    <mat-icon>outgoing_mail</mat-icon>
</button>
<div class="loading-overlay" *ngIf="loadingService.loading$ | async">
    <div class="loading-wrapper">
        <div class="spinner"></div>
        <p>Loading...</p>
    </div>
</div>