app-header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  opacity: 1;
  z-index: 1000;
}

.fixed-bottom-right {
  position: fixed;
  bottom: 20px;
  right: 15px;
}

.larger-icon-button {
  width: 70px;
  height: 70px;
  mat-icon {
    transform: scale(1.5);
  }
}

.mat-primary {
  background-color: #3498db;
}
