<div class="dialog-header">
    <h2 mat-dialog-title>{{translations['confirmCode']}}</h2>
    <button mat-icon-button mat-dialog-close aria-label="Close" class="close-button">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content class="center">
    <form [formGroup]="passwordForm" class="center">
        <mat-form-field appearance="fill">
            <mat-label>code</mat-label>
            <input matInput formControlName="password" type="password" class="center">
        </mat-form-field>
    </form>
    <small class="small-text">{{translations['codeReceived']}}</small>
</div>