.custom-dialog-content {
  display: flex;
  flex-direction: column;
}

.custom-form-field {
  position: relative;
  width: 100%;
}

.custom-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #a20d4b;
}
