<h2 mat-dialog-title>
    {{getContact()}}
    <mat-icon class="custom-icon">email</mat-icon>
</h2>
<div mat-dialog-content class="custom-dialog-content">
    <form [formGroup]="contactForm">
        <mat-form-field class="custom-form-field">
            <input matInput placeholder="E-Mail" class="custom-input" formControlName="email">
            <mat-error *ngIf="contactForm.get('email')?.hasError('required')">{{getRequired()}}</mat-error>
            <mat-error *ngIf="contactForm.get('email')?.hasError('email')">{{getInvalid()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="custom-form-field">
            <textarea matInput placeholder="Message" class="custom-input" rows="5" formControlName="message"></textarea>
            <mat-error *ngIf="contactForm.get('message')?.hasError('required')">{{getMRequired()}}</mat-error>
            <mat-error *ngIf="contactForm.get('message')?.hasError('minlength')">{{getMMinLength()}}</mat-error>
        </mat-form-field>
        <div class="icon-container">
            <span class="you" (click)="redirectToExternalUrl('https://www.linkedin.com/in/giorgi-beridze-427902238/')"></span>
            <span class="git" (click)="redirectToExternalUrl('https://github.com/berogio/')"></span>
            <span class="gmail" (click)="openEmail('gberi2012@agruni.edu.ge')"></span>
            <span class="ins" (click)="redirectToExternalUrl('https://www.linkedin.com/in/giorgi-beridze-427902238/')"></span>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">{{getCancel()}}</button>
    <button mat-button color="primary" (click)="submitForm()">{{getSend()}}</button>
</div>