<h2 mat-dialog-title>
    {{ translations['contactText']}}
    <mat-icon class="custom-icon">email</mat-icon>
</h2>
<div mat-dialog-content class="custom-dialog-content">
    <form [formGroup]="contactForm">
        <mat-form-field class="custom-form-field">
            <input matInput placeholder="E-Mail" class="custom-input" formControlName="email">
            <mat-error *ngIf="contactForm.get('email')?.hasError('required')">{{translations['emailReqText']}}</mat-error>
            <mat-error *ngIf="contactForm.get('email')?.hasError('email')">{{translations['emailInvText']}}</mat-error>
        </mat-form-field>
        <mat-form-field class="custom-form-field">
            <textarea matInput placeholder="Message" class="custom-input" rows="5" formControlName="message"></textarea>
            <mat-error *ngIf="contactForm.get('message')?.hasError('required')">{{translations['messageReqText']}}</mat-error>
            <mat-error *ngIf="contactForm.get('message')?.hasError('minlength')">{{translations['mesageMinText']}}</mat-error>
        </mat-form-field>
        <div class="icon-container">
            <a class="you" href="https://www.linkedin.com/in/giorgi-beridze-427902238/" target="_blank"></a>
            <a class="git" href="https://github.com/berogio/" target="_blank"></a>
            <a class="gmail" href="mailto:gberi2012@agruni.edu.ge" target="_blank"></a>
            <a class="ins" href="https://www.linkedin.com/in/giorgi-beridze-427902238/" target="_blank"></a>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">{{ translations['cancelText'] }}</button>
    <button mat-button color="primary" (click)="submitForm()">{{translations['sendText']}}</button>
</div>