.custom-form-field {
  position: relative;
  width: 100%;
}

.custom-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #a20d4b;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  width: 170px;
}

.icon-container > * {
  filter: brightness(80%);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  transition: filter 0.3s ease;
}

.icon-container > *:hover {
  transform: scale(1.2);
  filter: brightness(100%);
  cursor: pointer;
}

.fb {
  background-image: url("/assets/images/instagram.svg");
}

.you {
  background-size: 20px;
  background-image: url("/assets/images/LinkedIn_icon.svg");
}

.gmail {
  background-size: 20px;
  background-image: url("/assets/images/gmail.svg");
}

.ins {
  background-image: url("/assets/images/instagram.svg");
}

.git {
  background-size: 20px;
  background-image: url("/assets/images/github.svg");
}
