.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.237);
  box-shadow: 0 14px 18px rgba(244, 241, 241, 0.601);
}

.card,
.text {
  background-color: black;
  flex: 0 0 calc(50% - 20px);
  margin: 10px;
  padding: 20px;
  color: white;
  overflow: hidden;
}

.card img {
  width: 85%;
  height: auto;
  border-radius: 18px;
  display: block;
}

.text {
  overflow-y: auto;
  max-height: 400px;
  scrollbar-width: thin;
  scrollbar-color: #333 #555;
  h1 {
    color: #3498db;
    font-family: "Arial", sans-serif;
    font-size: 32px;
  }
  h2 {
    color: #2ecc71;
    font-family: "Helvetica", sans-serif;
    font-size: 36px;
  }
  p {
    color: #555;
    font-family: "Verdana", sans-serif;
    font-size: 16px;
  }
  ul {
    color: #27ae60;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    list-style-type: none;
    padding: 0;
  }
  li {
    margin-bottom: 8px;
  }
  a {
    color: #3498db;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.text::-webkit-scrollbar {
  width: 8px;
}

.text::-webkit-scrollbar-thumb {
  background-color: #333;
}

.text::-webkit-scrollbar-track {
  background-color: #555;
}

@media (max-width: 768px) {
  .card,
  .text {
    flex: 1 0 95%;
  }
  .card img {
    width: 100%;
  }
  .text2 {
    display: none;
  }
  .text3 {
    display: block !important;
  }
}

.text3 {
  display: none;
}
