.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.header {
  font-size: 1.8rem;
  color: white;
  background-color: black;
  margin: 0;
  padding: 30px;
  text-align: center;
  span {
    font-weight: 100;
    color: #e5eae77a;
  }
}

.card {
  background-color: black;
  flex: 0 0 calc(50% - 20px);
  margin: 10px;
  padding: 20px;
  color: white;
  overflow: hidden;
  order: 1;
}

.text {
  order: 1;
  background-color: black;
  flex: 0 0 calc(50% - 20px);
  margin: 10px;
  padding: 20px;
  color: white;
  overflow: hidden;
  overflow-y: auto;
  max-height: 400px;
  scrollbar-width: thin;
  scrollbar-color: #333 #555;
  h1 {
    color: #05509c;
    font-family: "Arial", sans-serif;
    font-size: 32px;
  }
  h2 {
    color: #2ecc71;
    font-family: "Helvetica", sans-serif;
    font-size: 36px;
  }
  p {
    color: #555;
    font-family: "Verdana", sans-serif;
    font-size: 16px;
  }
  ul {
    color: #27ae60;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    list-style-type: none;
    padding: 0;
  }
  li {
    margin-bottom: 8px;
  }
  a {
    color: #3498db;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (min-width: 769px) {
  .text:nth-of-type(2) {
    order: 2;
  }
  .text:nth-of-type(4) {
    order: 3;
  }
  .text:nth-of-type(6) {
    order: 6;
  }
  .card:nth-of-type(1) {
    order: 1;
  }
  .card:nth-of-type(3) {
    order: 4;
  }
  .card:nth-of-type(5) {
    order: 5;
  }
}

.card img {
  width: 85%;
  height: auto;
  border-radius: 18px;
  display: block;
}

.text::-webkit-scrollbar {
  width: 8px;
}

.text::-webkit-scrollbar-thumb {
  background-color: #333;
}

.text::-webkit-scrollbar-track {
  background-color: #555;
}

@media (max-width: 768px) {
  .card,
  .text {
    flex: 1 0 95%;
  }
  .card img {
    width: 100%;
  }
}
