<section id="my-projects">
    <h2 class="header"><span>My </span>Projects</h2>
    <div class="container">

        <div class="card">
            <img src="/assets/images/projects/testtttt.png" alt="">
        </div>
        <div class="text">
            <h1>01</h1>
            <h1>Registration and Login System</h1>
            <p>This web application allows users to register, log in, change their password, and includes a contact form.</p>
            <p>User Registration: Register with a unique username and email. User Login: Authenticate using registered credentials. Password Change: Change the password for an authenticated user. Contact Form: Submit inquiries or feedback through a contact
                form. Session Management: Manage user sessions for authentication. JWT (JSON Web Tokens): Utilize JWT for secure authentication. Nodemailer: Send confirmation emails for successful registration. Responsive Design: Ensure optimal viewing
                on various devices. Internationalization (i18n): Localize and translate messages for different languages using i18n.</p>
            <p>Technologies Used:</p>
            <ul>
                <li>JWT for authentication</li>
                <li>Node.Js (Node.js and Express for the backend)</li>
                <li>JavaScript </li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>MongoDB with Mongoose for the database</li>
                <li>Nodemailer for email confirmation</li>
                <li>Session management with express-session</li>
            </ul>
            <a href="https://github.com/berogio/registration-api">Check out the live demo of the Registration and Login System here.</a>
        </div>
        <div class="text text2">
            <h1>02</h1>
            <h1>Photosnap Website solution</h1>
            <p>Useful resources</p>
            <p>w3schools - This web-page helped us to dig deeper into HTML and CSS, and improve number of issues in this direction. We really liked this web-page and will use it in the future as well. developer.mozilla - This is an amazing web-page which
                gave us in-depth knowledge in JavaScript language. We'd recommend it to anyone still learning this language. stackoverflow - This is an amazing web-page where you can ask any technical question about speciefic issue and other developers
                will help you to solve the problem. Their Q&A platform is a great tool to find the right answer for your project. We highly recommend this web-page for other developers.</p>
            <p>Technologies Used:</p>
            <ul>
                <li>JavaScript (Node.js and Express for the backend)</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Bootstrap</li>
                <li>SCSS</li>
                <li>FlexBOX</li>
            </ul>
            <a href="https://photosnap-multi-page-website-006.vercel.app">Check out the live demo of the Registration and Login System here.</a>
        </div>
        <div class="card ">
            <img src="/assets/images/projects/preview.jpg" alt="">
        </div>
        <div class="text text3">
            <h1>02</h1>
            <h1>Photosnap Website solution</h1>
            <p>Useful resources</p>
            <p>w3schools - This web-page helped us to dig deeper into HTML and CSS, and improve number of issues in this direction. We really liked this web-page and will use it in the future as well. developer.mozilla - This is an amazing web-page which
                gave us in-depth knowledge in JavaScript language. We'd recommend it to anyone still learning this language. stackoverflow - This is an amazing web-page where you can ask any technical question about speciefic issue and other developers
                will help you to solve the problem. Their Q&A platform is a great tool to find the right answer for your project. We highly recommend this web-page for other developers.</p>
            <p>Technologies Used:</p>
            <ul>
                <li>JavaScript (Node.js and Express for the backend)</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Bootstrap</li>
                <li>SCSS</li>
                <li>FlexBOX</li>
            </ul>
            <a href="https://photosnap-multi-page-website-006.vercel.app">Check out the live demo of the Registration and Login System here.</a>
        </div>

        <div class="card ">
            <img src="/assets/images/projects/preview.jpg" alt="">
        </div>
        <div class="text">
            <h1>03</h1>
            <h1>Photosnap Website solution</h1>
            <p>Useful resources</p>
            <p>w3schools - This web-page helped us to dig deeper into HTML and CSS, and improve number of issues in this direction. We really liked this web-page and will use it in the future as well. developer.mozilla - This is an amazing web-page which
                gave us in-depth knowledge in JavaScript language. We'd recommend it to anyone still learning this language. stackoverflow - This is an amazing web-page where you can ask any technical question about speciefic issue and other developers
                will help you to solve the problem. Their Q&A platform is a great tool to find the right answer for your project. We highly recommend this web-page for other developers.</p>
            <p>Technologies Used:</p>
            <ul>
                <li>JavaScript (Node.js and Express for the backend)</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Bootstrap</li>
                <li>SCSS</li>
                <li>FlexBOX</li>
            </ul>
            <a href="https://photosnap-multi-page-website-006.vercel.app">Check out the live demo of the Registration and Login System here.</a>
        </div>
    </div>
</section>