#my-projects {
  background-color: black;
  padding: 20px 15px 10px 15px;
  h2 {
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

.card {
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.text-container {
  border-radius: 10px;
  display: inline-block;
  .text {
    h1 {
      color: rgb(255, 255, 255);
    }
    p {
      color: rgba(255, 255, 255, 0.6);
    }
    li {
      color: rgba(12, 161, 27, 0.5);
    }
    a {
      color: rgba(255, 255, 255, 0.6);
    }
    a:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.image-container {
  padding: 10px 0px !important;
  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

.image-container,
.text-container {
  height: auto;
  max-width: 500px;
  flex: 1;
  padding: 10px;
}

.highlighted-text {
  order: 2;
}

.highlighted-img {
  order: 3;
}

@media (max-width: 800px) {
  .card {
    display: block;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  .text-container {
    display: block;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
