<div class="container">

    <div class="card">
        <img src="../../../assets/images/testtttt.png" alt="">
    </div>
    <div class="text">
        <h1>01</h1>
        <h1>Registration and Login System</h1>
        <p>This web application allows users to register, log in, change their password, and includes a contact form.</p>
        <p>User Registration: Register with a unique username and email. User Login: Authenticate using registered credentials. Password Change: Change the password for an authenticated user. Contact Form: Submit inquiries or feedback through a contact form.
            Session Management: Manage user sessions for authentication. JWT (JSON Web Tokens): Utilize JWT for secure authentication. Nodemailer: Send confirmation emails for successful registration. Responsive Design: Ensure optimal viewing on various
            devices. Internationalization (i18n): Localize and translate messages for different languages using i18n.</p>
        <p>Technologies Used:</p>
        <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript (Node.js and Express for the backend)</li>
            <li>MongoDB with Mongoose for the database</li>
            <li>JWT for authentication</li>
            <li>Nodemailer for email confirmation</li>
            <li>Session management with express-session</li>
        </ul>
        <a href="">Check out the live demo of the Registration and Login System here.</a>
    </div>


    <div class="text">
        01 Crypto Screener Application I'm Evren Shah Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
        it to specimen book.
    </div>
    <div class="card">
        <img src="../../../assets/images/preview.jpg" alt="">
    </div>
    <div class="card">
        <img src="../../../assets/images/image 771.png" alt="">
    </div>
    <div class="text">
        01 Crypto Screener Application I'm Evren Shah Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
        it to specimen book.
    </div>

</div>