.skills-component-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  border: 3px black solid;
  margin: 10px;
  height: 180px;
  flex-basis: 17%;
  flex-grow: 1;
  flex-shrink: 1;
}

.my-font {
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.skills-font {
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 1024px) {
  .flex-item {
    flex-basis: 30%;
  }
}
