<div class="skills-component-wrapper">
    <h2><span class="my-font">My </span> <span class="skills-font">Skills</span></h2>


    <div class="flex-container">
        <div class="flex-item">
            <img src="/assets/images/icon-javscript.png" alt="icon-javscript">
            <p>Javascript</p>
        </div>
        <div class="flex-item">
            <img src="/assets/images/icon-typescript.png" alt="icon-typescript">
            <p>Typescript</p>
        </div>
        <div class="flex-item">
            <img src="/assets/images/icon-sass.png" alt="icon-sass">
            <p>SCSS/SASS</p>
        </div>
        <div class="flex-item">
            <img src="/assets/images/icon-git.png" alt="icon-git">
            <p>Git/Github</p>
        </div>
        <div class="flex-item">
            <img src="/assets/images/icon-express.png" alt="icon-express">
            <p>Express</p>
        </div>
        <div class="flex-item">
            <img src="/assets/images/icon-mongodb.png" alt="icon-mongodb">
            <p>MognoDB</p>
        </div>
        <div class="flex-item">
            <img src="../../../assets/images/icon-nodejs.svg" alt="icon-nodejs">
            <p>NodeJS</p>
        </div>
        <div class="flex-item">
            <img src="/assets/images/icon-postgresql.png" alt="icon-postgresql">
            <p>PostGreSQL</p>
        </div>
        <div class="flex-item">
            <img src="/assets/images/icon-tailwindcss.png" alt="icon-tailwindcss">
            <p>Tailwindcss</p>
        </div>
        <div class="flex-item">
            <img src="/assets/images/icon-nest.svg" alt="icon-nest">
            <p>Nest JS</p>
        </div>
    </div>
</div>