* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-dialog-container {
}

.custom-dialog-container .mat-dialog-title {
}
