section {
  background-color: black;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 100px;
  img {
    width: 60px;
    height: auto;
  }
  h2 {
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
  }
}

.experience {
  box-shadow: 0 3px 15px rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  background-color: black;
  color: rgba(255, 255, 255, 0.7);
  padding: 15px 15px 25px;
  margin-bottom: 65px;
  p {
    margin: 0;
  }
  .b-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }
  .s-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    img {
      width: 35px;
      margin-right: 0.5rem;
      height: auto;
    }
  }
}

.experience:nth-child(3) {
  background-color: rgb(54, 54, 54);
}
