<section id="experience">
    <div class="header-wrapper">
        <h2 class="header">{{ getExperience().prefix }} <span>{{ getExperience().suffix }}</span></h2>

        <img src="/assets/images/experience_1.png" alt="experience_img">
    </div>
    <div class="experience" *ngFor="let experience of experiences$ | async">
        <div class="b-wrapper">
            <div class="s-wrapper">
                <img [src]="experience.logo" alt="Company Logo">
                <p>{{ experience.position }}</p>
            </div>
            <p>{{ experience.year }}</p>
        </div>
        <p>{{ experience.description }}</p>
    </div>
</section>